/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* The fallback color is your light-blue in case the image fails to load */
  background-color: #A9B5DF;

  /* Path to your new background image */
  background-image: url('./assets/background-pattern.png');

  /* This makes the background fixed while the content scrolls over it */
  background-attachment: fixed;
}